<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add connectionString="Server=172.24.108.65;Database=Test;User ID=sa;Password=biztalk_458@1982" name="ConString" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Attachttp://localhost:52016/Salvage_Control_System/Web.confighDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="CONN_STRING_ORCL" connectionString="Data Source=BEEGEN;User ID=internet;Password=internet;Unicode=True; ;Min Pool Size=30;Max Pool Size=90" providerName="System.Data.OracleClient"/>-->
    <add name="CONN_STRING_ORCL" connectionString="Data Source=BEEGEN;User ID=ais;Password=ais;Unicode=True; ;Min Pool Size=30;Max Pool Size=90" providerName="System.Data.OracleClient"/>
    <add name="DBConString" connectionString="Data Source=BEEGEN;User ID=internet;Password=internet;Unicode=True; ;Min Pool Size=30;Max Pool Size=90" providerName="System.Data.OracleClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <appSettings>
    <add key="CONN_STRING_ORCL" value="Data Source=BEEGEN;User ID=ais;Password=ais;Unicode=True; ;Min Pool Size=30;Max Pool Size=90"/>
    <!--<add key="DBConStrLife" value="Data Source=BELIFE;User ID=ais;Password=ais;Unicode=True; ;Min Pool Size=30;Max Pool Size=90" />-->
    <add key="DBConStrLife" value="Data Source=BEEGEN;User ID=ais;Password=ais;Unicode=True; ;Min Pool Size=30;Max Pool Size=90"/>
    <add key="DBConString" value="User Id=LPAY;Password=LPAY;Data Source=BEEGEN;"/>
    <add key="IBM_DB2" value="Dsn=belife;uid=COOPWEB;PWD=COOPWEB"/>
    <!--<add key="IBM_DB2" value="Dsn=PRODDSN;uid=INTERNET;PWD=INTERNET" />-->
    <add key="DB2" value="Dsn=belife;uid=INTERNET;PWD=INTERNET"/>
    <!--<add key="DB2" value="Dsn=belife;uid=INTERNET;PWD=INTERNET" />-->
    <!-- <add key="IBM_DB2" value="Dsn=BEELIFEWEB;uid=INTERNET;PWD=INTERNET" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="FolderPath" value="~/TempHolder/"/>
    <add key="Host" value="192.168.248.3"/>
    <add key="EnableSsl" value="false"/>
    <add key="Port" value="25"/>
    <add key="senderEmailId" value="motorquotation@srilankainsurance.com"/>
    <add key="senderEmailPasscode" value=""/>
    <!--<add key="senderEmailId" value="kavindad@srilankainsurance.com" />
    <add key="senderEmailPasscode" value="Slic@9641" />-->
    <add key="SRCC" value="0"/>
    <add key="TC" value="0"/>
    <add key="vat" value="18"/>
    <add key="OdpBank" value="7010"/>
    <add key="Exception" value="D:\binsurance\Slicgeneral\Bancassu_Sys\odplog\"/>
    <add key="OrclLog" value="D:\binsurance\Slicgeneral\Bancassu_Sys\odplog\"/>
    <add key="SendMailStatus" value="D:\binsurance\Slicgeneral\Bancassu_Sys\odplog\mail_status\"/>
    <add key="sent_mail" value="bancagiboc@slicgeneral.com"/>
    <add key="sent_pwd" value="User@123"/>
    <add key="ReceiptApiBaseUrl" value="http://insurance-app/Deployment/NonMotorReceiptApi"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="360"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>-->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880" />-->
      <!--<forms name="NewCookieName" defaultUrl="Login.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="30" cookieSameSite="None" requireSSL="true" />-->
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="TRACE" allowed="false"/>
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!--<add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />-->
        <!--<add name="Content-Security-Policy" value="default-src 'self'; font-src *;img-src * data:; script-src *; style-src *;" />-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>